@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: #D3E9E9;
    margin: 0;
    font-family: "poppins";
}

#Titulo{
    color: white;
    margin: 0 auto;
    background-color: rgb(12, 137, 146);
    width : 300 px;
    height: 50 px;
    padding-block: 10px;
    text-align: center;
    
    font-size: 15 px;
    font-style: italic;
    
    }
/*Login section style*/

section {
    padding: 2em;
}

input {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 0.3em;
    border: 1px solid gray;
    box-sizing: border-box;
    font-family: "poppins";
}

input[type=submit] {
    background-color: #3FACB8;
    color: white;
    font-weight: bold;
    font-size: 85%;
    border: 1px solid #D3E9E9;
    border-radius: 1.5em;
    cursor: pointer;
}

div#general {
    background: #D3E9E9;
    margin-top: 6%;
    margin-bottom: 6%;
    margin: 4.5%;
    width: 90%;
    height: 95%
}

div#derecha {
    text-align: left;
    color: #41A4B6;
    background-color: #FFFFFF;
    margin-top: 7%;
    margin-bottom: 7%;
    margin: 4.5%;
    float: right;
    width: 35%;
    border-radius: 0.5em;
    padding: 3%;
}
div#izquierda{
    text-align: left;
    color: #41A4B6;
    background-color: #FFFFFF;
    margin-top: 7%;
    margin-bottom: 7%;
    margin: 4.5%;
    float: left;
    width: 35%;
    border-radius: 0.5em;
    padding: 3%;
}


section{
    padding: 20px;
}

	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
        background-color: rgb(12, 137, 146);
	}
	.container{
		width: 95%;
		margin: 0 auto;
	}
	.container .btn-menu, .Titulo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.Titulo h2{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}

	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;left: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #004275;
		height: 100vh;
		position: relative;

		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .general{
		transform: translateX(30%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(35%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
	}
	.cont-menu nav a:hover{
		background: #003240;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
