@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: #D3E9E9;
    margin: 0;
    font-family: "poppins";
}
div#Titulo{
    color: white;
    margin: 0 auto;
    width : 300 px;
    padding-block: 10px;
    text-align: center;
    font-size: 2vmax;
    font-style: italic;
	font-weight: bold;
    }

/*Login section style*/
.generalito {
     margin-top: 16%;
}
div#general {
    background: #D3E9E9;
    margin-top: 6%;
    margin-bottom: 6%;
    margin: 4.5%;
    width: 90%;
    height: 95%
}

div#derecha {
    text-align: right;
    color: #0C8891;
    background-color: #FFFFFF;
    margin:2%;
    float: right;
    width: 35vmax;
    height: 20vmax;
    border-radius: 0.5em;
    padding: 3%;
	font-weight: bolder;
	
}
div#izquierda{
    text-align: right;
    color: #0C8891;
    background-color: #FFFFFF;
    margin: 2%;
    float: left;
    width: 35vmax;
    height: 20vmax;
    border-radius: 0.5em;
    padding: 3%;
	font-weight: bolder;
	
}

.foto { 
    padding: 1%; 
    margin: 0.5%; 
    float: left;
    width: 45%;
    height:45%;
    border-radius:150px;
	box-shadow:4px 4px 10px 5px #3B91A8 inset;
}

	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 5vmax;
		position: fixed;
		top: 0;left: 0;
        background-color:#0c8992;
	}
	.container{
		width: 95%;
		margin: 0 auto;
	}
	.container .btn-menu, .Titulo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.Titulo h2{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}

	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;left: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 23vmax;
		max-width: 250px;
	
		background: #0c8992;
		height:116%;
		position: relative;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .general{
		transform: translateX(30%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	
	.cont-menu nav{
		transform: translateY(35%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
	}
	.cont-menu nav a:hover{
		background: #3B91A8;
	}
	.container .btn-menu label{/*Acceder al icono de Menu*/
		font-size: 2.5vmax;
	}
	.container .btn-menu, .Titulo{ /*Acceder al tamaño entre el top y el icono de menu*/
		line-height: 4.5vmax;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	




