@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: #D3E9E9;
    margin: 0;
    font-family: "poppins";
}

/*Login section style*/

section {
    padding: 2em;
}

input {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 0.3em;
    border: 1px solid gray;
    box-sizing: border-box;
    font-family: "poppins";
}

input[type=submit] {
    background-color: #3FACB8;
    color: white;
    font-weight: bold;
    font-size: 85%;
    border: 1px solid #D3E9E9;
    border-radius: 1.5em;
    cursor: pointer;
}

div#general {
    background: #D3E9E9;
    margin-top: 6%;
    margin-bottom: 6%;
    margin: 4.5%;
    width: 90%;
    height: 95%
}

div#derecha {
    text-align: left;
    color: #41A4B6;
    background-color: #FFFFFF;
    margin-top: 7%;
    margin-bottom: 7%;
    margin: 4.5%;
    float: right;
    width: 35%;
    border-radius: 0.5em;
    padding: 3%;
}
div#izquierda{
    text-align: left;
    color: #41A4B6;
    background-color: #FFFFFF;
    margin-top: 7%;
    margin-bottom: 7%;
    margin: 4.5%;
    float: left;
    width: 35%;
    border-radius: 0.5em;
    padding: 3%;
}


/* nav drawer*/
.header{
    width: 90%;
    max-width: 100px; 
    margin: 20px auto; 
    width: 100%; 
}

.header nav{
    width: 100%; 
    cursor: pointer;
    margin-right: 2rem;
    background-color: #FFFFFF;
}

.menu{
    display: none;
}

.header nav ul {
    overflow-x: hidden;
    list-style: none;
}

.header nav ul li {
    float:left;
}

.header nav ul li a{
    color: #41A4B6;
    padding: 20px;
    display: block;
    text-decoration: auto;
}
.header nav ul li span{
    margin-right: 10px;
}
.header nav ul li a:hover{
    background-color: #FFFFFF;
}

section{
    padding: 20px;
}

@media screen and(max-widht:800px) {
    header nav {
          height: 100%;
          width: 30%;
          left: -100%;
          margin:0;
          position: fixed;
    }

    header nav ul li {
          display: block;
          float:none;
          border-bottom:1px solid #41A4B6;
    }

    .menu {
          display: block;
          width: 100%;
          background-color: #41A4B6;
    }

    .menu.bt-menu {
          display: block;
          padding: 20px;
          width: 100%;
          background: #41A4B6;
          color: #41A4B6;
          text-decoration: auto;
    }
} 

